/* .calendar {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  max-width: 100%;
}

.calendar h3 {
  font-family: 'kufam';
  color: #20335b;
  font-weight: 700;
  text-align: center;
}

.calendar .date {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 35%;
  transition: background-color 0.3s;
  font-weight: 700;
  margin: 2px;
}

.calendar .date.active {
  background-color: #ff9030;
  color: white;
}

.calendar .date:hover {
  cursor: pointer;
  background-color: #ffad66;
}

.calendar button {
  border: none;
  background: none;
  font-size: 1.5em;
}

.calendar button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .calendar {
    padding: 10px;
  }

  .calendar h3 {
    font-size: 1.2em;
  }

  .calendar .date {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .calendar {
    padding: 5px;
  }

  .calendar h3 {
    font-size: 1em;
  }

  .calendar .date {
    width: 18px;
    height: 20px;
    line-height: 20px;
    font-size: 0.8em;
  }

  .calendar .day-names {
    font-size: 12px;
  }
} */
