/* Calendar.css */

.calendar {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  max-width: 100%;
}

.calendar h3 {
  font-family: 'kufam';
  color: #20335b;
  font-weight: 700;
  text-align: center;
}

/* New CSS for day names */
.day-names strong {
  font-size: 20px; 
}

@media (max-width: 767px) {
  .day-names strong {
    font-size: 13px; /* Adjust the font size for smaller screens */
  }
}
